# Dependency directory
packages/**/node_modules
node_modules

# Compiled JS directory
packages/web-opds-client/lib

# Bundled JS
dist

# TypeScript Docs
packages/web-opds-client/docs

# Temporary files
*~

# Local editor files
.vscode
